* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

/* 投稿のスタイル */
.contents {
  border: 1px solid black;
  border-radius: 16px;
  margin: 18px auto;
  padding: 0 16px;
  width: 860px;
  background-color: #efefef;
}

.theme {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.joke-list {
  border: 1px solid black;
  border-radius: 16px;
}
.joke {
  border: 1px solid black;
  border-radius: 16px;
}




/* モーダルのスタイル */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  
  animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1} 
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 384px;
  line-height: 32px;
  margin: 36px auto;
}

.common-button {
  color: #f0f4f9;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #326dc7;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: bold;

}

.common-button:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}

@media (max-width: 670px) {
  .modal-inner {
    width: 320px;
    height: 200px;
  }
  .modal-content {
    width: 200px;
  }
}